**Q1: What are data structures, and why are they important?**

A: Data structures are ways of organizing and storing data so it can be accessed and modified efficiently.

**Q2: Explain the difference between mutable and immutable data types with examples**

A: Mutable: Can be changed after creation (e.g., list, dict). Immutable: Cannot be changed after creation (e.g., tuple, string).

**Q3: What are the main differences between lists and tuples in Python?**

A: Lists are mutable, use [], tuples are immutable, use (). Tuples are faster.

**Q4: Describe how dictionaries store data**

A: Dictionaries store key-value pairs using a hash table.

**Q:5 Why might you use a set instead of a list in Python?**

A: Sets remove duplicates and allow fast membership tests.

**Q6: What is a string in Python, and how is it different from a list?**

A: A string is an immutable sequence of characters. Lists are mutable.

**Q7: How do tuples ensure data integrity in Python?**

A: Tuples are immutable, so they preserve data without risk of modification.

**Q8: What is a hash table, and how does it relate to dictionaries in Python?**

A: A hash table maps keys to values via a hash function. Python dictionaries use hash tables internally.

**Q9: Can lists contain different data types in Python?**

A: Yes, lists can store elements of different types.

**Q10: Explain why strings are immutable in Python**

A: Strings are immutable for performance, memory optimization, and safety.

**Q11: What advantages do dictionaries offer over lists for certain tasks?**

A: Dictionaries allow fast key lookups compared to lists.

**Q12: Describe a scenario where using a tuple would be preferable over a list**

A: Use a tuple for fixed, unchangeable data like coordinates.

**Q13: How do sets handle duplicate values in Python?**

A: Sets automatically remove duplicates.

**Q14: How does the 'in' keyword work differently for lists and dictionaries?**

A: 'in' checks values in lists, keys in dictionaries.

**Q15: Can you modify the elements of a tuple? Explain why or why not**

A: No, tuples are immutable and cannot be changed after creation.

**Q16: What is a nested dictionary, and give an example of its use case**

A: A nested dictionary is a dictionary inside another dictionary, useful for hierarchical data like student records.

**Q17: Describe the time complexity of accessing elements in a dictionary**

A: O(1) on average because of hash table lookup.

**Q18: In what situations are lists preferred over dictionaries?**

A: Lists are preferred when you need ordered sequences without key-value mapping.

**Q19: Why are dictionaries considered unordered, and how does that affect data retrieval?**

A: They are unordered because their storage depends on hash values.

**Q20: Explain the difference between a list and a dictionary in terms of data retrieval.**

A: Lists require index-based access; dictionaries use key-based retrieval.

##Practical Questions

**Q1: Write a code to create a string with your name and print it**

In [1]:
name = "Mobashareen"
print(name)

Sahil

**Q2: Write a code to find the length of the string "Hello World"**

In [2]:
print(len("Hello World"))

11

**Q3: Write a code to slice the first 3 characters from the string "Python Programming"**

In [4]:
print("Python Programming"[:3])

Pyt

**Q4: Write a code to convert the string "hello" to uppercase**

In [3]:
print("hello".upper())

HELLO

**Q5: Write a code to replace the word "apple" with "orange" in the string "I like apple"**

In [ ]:
print("I like apple".replace("apple", "orange"))

**Q6: Write a code to create a list with numbers 1 to 5 and print it**

In [6]:
print([1, 2, 3, 4, 5])

[1, 2, 3, 4, 5]

**Q7: Write a code to append the number 10 to the list [1, 2, 3, 4]**

In [5]:
lst = [1, 2, 3, 4]
lst.append(10)
print(lst)

[1, 2, 3, 4, 10]

**Q8: Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]**

In [7]:
lst = [1, 2, 3, 4, 5]
lst.remove(3)
print(lst)

[1, 2, 4, 5]

**Q9: Write a code to access the second element in the list ['a', 'b', 'c', 'd']**

In [8]:
print(['a', 'b', 'c', 'd'][1])

b

**10: Write a code to reverse the list [10, 20, 30, 40, 50]**

In [9]:
lst = [10, 20, 30, 40, 50]
lst.reverse()
print(lst)

[50, 40, 30, 20, 10]

**Q11: Write a code to create a tuple with the elements 100, 200, 300 and print it**

In [10]:
t = (100, 200, 300)
print(t)

(100, 200, 300)

**Q12: Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')**

In [11]:
print(('red', 'green', 'blue', 'yellow')[-2])

blue

**Q13: Write a code to find the minimum number in the tuple (10, 20, 5, 15)**

In [12]:
print(min((10, 20, 5, 15)))

5

**Q14: Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')**

In [13]:
print(('dog', 'cat', 'rabbit').index("cat"))

1

**Q15: Write a code to create a tuple containing three different fruits and check if "kiwi" is in it**

In [14]:
fruits = ("apple", "banana", "cherry")
print("kiwi" in fruits)

False

**Q16: Write a code to create a set with the elements 'a', 'b', 'c' and print it**

In [15]:
print({'a', 'b', 'c'})

{'b', 'c', 'a'}

**Q17: Write a code to clear all elements from the set {1, 2, 3, 4, 5}**

In [16]:
s = {1, 2, 3, 4, 5}
s.clear()
print(s)

set()

**Q18: Write a code to remove the element 4 from the set {1, 2, 3, 4}**

In [17]:
s = {1, 2, 3, 4}
s.remove(4)
print(s)

{1, 2, 3}

**Q19: Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}**

In [18]:
print({1, 2, 3} | {3, 4, 5})

{1, 2, 3, 4, 5}

**Q20: Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}**

In [19]:
print({1, 2, 3} & {2, 3, 4})

{2, 3}

**Q21: Write a code to create a dictionary with the keys "name", "age", and "city", and print it**

In [20]:
print({"name": "Sahil", "age": 25, "city": "Delhi"})

{'name': 'Sahil', 'age': 25, 'city': 'Delhi'}

**Q22: Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}**

In [21]:
d = {"name": "John", "age": 25}
d["country"] = "USA"
print(d)

{'name': 'John', 'age': 25, 'country': 'USA'}

**Q23: Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}**

In [22]:
print({"name": "Alice", "age": 30}["name"])

Alice

**Q24: Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}**

In [23]:
d = {"name": "Bob", "age": 22, "city": "New York"}
del d["age"]
print(d)

{'name': 'Bob', 'city': 'New York'}

**Q25: Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}**

In [24]:
print("city" in {"name": "Alice", "city": "Paris"})

True

**Q26: Write a code to create a list, a tuple, and a dictionary, and print them all**

In [25]:
lst = [1, 2, 3]
tup = (4, 5, 6)
dic = {"a": 1, "b": 2}
print(lst, tup, dic)

[1, 2, 3] (4, 5, 6) {'a': 1, 'b': 2}

**Q27: Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result**

In [26]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[18, 50, 66, 69, 72]

**Q28: Write a code to create a list with strings and print the element at the third index**

In [27]:
lst = ["apple", "banana", "cherry", "date"]
print(lst[3])

date

**Q29: Write a code to combine two dictionaries into one and print the result**

In [28]:
d1 = {"a": 1, "b": 2}
d2 = {"c": 3, "d": 4}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

**Q30: Write a code to convert a list of strings into a set**

In [29]:
lst = ["apple", "banana", "apple"]
print(set(lst))

{'banana', 'apple'}